In [1]:
import sys,os
sys.path.append(os.path.abspath(os.path.join('..', 'src')))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from utils import *
from pandas.api.types import CategoricalDtype

%matplotlib inline

# StackOverflow 2020 Exploratory Data Analysis

In [10]:
df_schema = pd.read_csv("../data/processed/so_schema.csv")
df_schema.head()

         field                                      question_text
0   respondent  Randomized respondent ID number (not in order ...
1  main_branch  Which of the following options best describes ...
2     hobbyist                            Do you code as a hobby?
3          age  What is your age (in years)? If you prefer not...
4  age1st_code  At what age did you write your first line of c...

In [2]:
df = pd.read_csv("../data/processed/so_data.csv")
df.head()

,respondent,main_branch,hobbyist,age,age1st_code,comp_freq,comp_total,converted_comp,country,currency_desc,...,survey_ease,survey_length,trans,undergrad_major,webframe_desire_next_year,webframe_worked_with,welcome_change,work_week_hrs,years_code,years_code_pro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   respondent                         64461 non-null  int64
 1   main_branch                        64162 non-null  object
 2   hobbyist                           64416 non-null  object
 3   age                                45446 non-null  float64
 4   age1st_code                        57900 non-null  object
 5   comp_freq                          40069 non-null  object
 6   comp_total                         34826 non-null  float64
 7   converted_comp                     34756 non-null  float64
 8   country                            64072 non-null  object
 9   currency_desc                      45472 non-null  object
 10  currency_symbol                    45472 non-null  object
 11  database_desire_next_year          44070 non-null  object
 12  database_worked_with               49537 non-null  object
 13  dev_type                           49370 non-null  object
 14  ed_level                           57431 non-null  object
 15  employment                         63854 non-null  object
 16  ethnicity                          45948 non-null  object
 17  gender                             50557 non-null  object
 18  job_factors                        49349 non-null  object
 19  job_sat                            45194 non-null  object
 20  job_seek                           51727 non-null  object
 21  language_desire_next_year          54113 non-null  object
 22  language_worked_with               57378 non-null  object
 23  misc_tech_desire_next_year         42379 non-null  object
 24  misc_tech_worked_with              40314 non-null  object
 25  new_collab_tools_desire_next_year  47287 non-null  object
 26  new_collab_tools_worked_with       52883 non-null  object
 27  new_dev_ops                        42686 non-null  object
 28  new_dev_ops_impt                   41732 non-null  object
 29  new_ed_impt                        48465 non-null  object
 30  new_job_hunt                       42286 non-null  object
 31  new_job_hunt_research              41022 non-null  object
 32  new_learn                          56156 non-null  object
 33  new_off_topic                      50804 non-null  object
 34  new_onboard_good                   42623 non-null  object
 35  new_other_comms                    57205 non-null  object
 36  new_overtime                       43231 non-null  object
 37  new_purchase_research              37321 non-null  object
 38  new_purple_link                    54803 non-null  object
 39  newso_sites                        58275 non-null  object
 40  new_stuck                          54983 non-null  object
 41  op_sys                             56228 non-null  object
 42  org_size                           44334 non-null  object
 43  platform_desire_next_year          50605 non-null  object
 44  platform_worked_with               53843 non-null  object
 45  purchase_what                      39364 non-null  object
 46  sexuality                          43992 non-null  object
 47  so_account                         56805 non-null  object
 48  so_comm                            56476 non-null  object
 49  so_part_freq                       46792 non-null  object
 50  so_visit_freq                      56970 non-null  object
 51  survey_ease                        51802 non-null  object
 52  survey_length                      51701 non-null  object
 53  trans                              49345 non-null  object
 54  undergrad_major                    50995 non-null  object
 55  webframe_desire_next_year          40024 non-null  object
 56  webframe_worked_with               42279 non-null  object
 57  welcome_change                     52683 non-null  object
 58  work_week_hrs                      41151 non-null  float64
 59  years_code                         57684 non-null  object
 60  years_code_pro                     46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

## Examine Job Satisfaction

In [5]:
sat_type = CategoricalDtype(categories=["Very satisfied", "Slightly satisfied", "Neither satisfied nor dissatisfied", "Slightly dissatisfied", "Very dissatisfied"], ordered=True)
df.job_sat = df.job_sat.astype(sat_type)

df.job_sat.dtype

CategoricalDtype(categories=['Very satisfied', 'Slightly satisfied',
                  'Neither satisfied nor dissatisfied',
                  'Slightly dissatisfied', 'Very dissatisfied'],
, ordered=True)

In [6]:
df.job_sat.value_counts()

Very satisfied                        14611
Slightly satisfied                    13930
Slightly dissatisfied                  7124
Neither satisfied nor dissatisfied     5783
Very dissatisfied                      3746
Name: job_sat, dtype: int64

### Explore Null Job Satisfaction

In [13]:
df[df.job_sat.isnull()][["job_sat","dev_type", "job_factors", "job_seek", "employment"]]

,job_sat,dev_type,job_factors,job_seek,employment
2,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Employed full-time
14,NaN,NaN,"Languages, frameworks, and other technologies ...","I’m not actively looking, but I am open to new...",Student
20,NaN,NaN,"Languages, frameworks, and other technologies ...","I’m not actively looking, but I am open to new...",Student
26,NaN,"Database administrator;Developer, full-stack;E...",NaN,NaN,Employed full-time
...,...,...,...,...,...
64456,NaN,Senior executive/VP,NaN,NaN,Employed full-time
64457,NaN,NaN,NaN,NaN,Employed full-time
64458,NaN,NaN,NaN,NaN,NaN
64459,NaN,NaN,NaN,NaN,Employed full-time
64460,NaN,NaN,NaN,NaN,Employed full-time

In [14]:
df.employment.value_counts()

Employed full-time                                      45270
Student                                                  7787
Independent contractor, freelancer, or self-employed     5672
Not employed, but looking for work                       2343
Employed part-time                                       2217
Not employed, and not looking for work                    322
Retired                                                   243
Name: employment, dtype: int64

**Explore Null Job Satisfaction for Currently Not Employed**

In [21]:
df[df.job_sat.notnull() & df.employment.isin(["Not employed, and not looking for work", "Student", "Not employed, but looking for work", "Retired"])]

Empty DataFrame
Columns: [respondent, main_branch, hobbyist, age, age1st_code, comp_freq, comp_total, converted_comp, country, currency_desc, currency_symbol, database_desire_next_year, database_worked_with, dev_type, ed_level, employment, ethnicity, gender, job_factors, job_sat, job_seek, language_desire_next_year, language_worked_with, misc_tech_desire_next_year, misc_tech_worked_with, new_collab_tools_desire_next_year, new_collab_tools_worked_with, new_dev_ops, new_dev_ops_impt, new_ed_impt, new_job_hunt, new_job_hunt_research, new_learn, new_off_topic, new_onboard_good, new_other_comms, new_overtime, new_purchase_research, new_purple_link, newso_sites, new_stuck, op_sys, org_size, platform_desire_next_year, platform_worked_with, purchase_what, sexuality, so_account, so_comm, so_part_freq, so_visit_freq, survey_ease, survey_length, trans, undergrad_major, webframe_desire_next_year, webframe_worked_with, welcome_change, work_week_hrs, years_code, years_code_pro]
Index: []

[0 rows x 61 columns]